/* Estilo del cuerpo principal */
.cuerpo {
    background-color: #1a1a1d;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

/* Contenedor principal para centrar todo */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
}

/* Tablero de Ajedrez Cyberpunk */
.board {
    width: 100%;
    height: 0;
    padding-bottom: 100%; /* Mantiene la relación de aspecto 1:1 */
    background: #1a1a1d;
    border: 5px solid #f0134d;
    box-shadow: 0 0 20px #f0134d, 0 0 40px #f0134d;
    border-radius: 15px;
    margin-bottom: 20px;
    position: relative;
}

/* Asegura que el contenido del tablero esté dentro del div */
#board {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Sección de Información Cyberpunk */
.info {
    width: 100%;
    color: #0ff0fc;
    font-family: 'Courier New', Courier, monospace;
    background: #1a1a1d;
    padding: 15px;
    border: 2px solid #0ff0fc;
    box-shadow: 0 0 10px #0ff0fc;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

/* Historial de Movimientos Cyberpunk */
.move-history {
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
    background: #1a1a1d;
    color: #39ff14;
    border: 2px solid #39ff14;
    box-shadow: 0 0 10px #39ff14;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

/* Efecto de brillo Cyberpunk para el texto */
.info h1, .info p, .move-history {
    text-shadow: 0 0 10px #0ff0fc, 0 0 20px #39ff14, 0 0 30px #f0134d;
}

#position-count-2 {
    margin: 0;
    color: #ff1482;
    text-shadow: 0 0 10px #dd1b1b, 0 0 20px #7700ff, 0 0 30px #d82b2b;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    text-align: center;
}

/* Estilizado de la barra de desplazamiento */
.move-history::-webkit-scrollbar {
    width: 8px;
}

.move-history::-webkit-scrollbar-thumb {
    background: #f0134d;
    border-radius: 10px;
    box-shadow: 0 0 10px #f0134d;
}

.move-history::-webkit-scrollbar-track {
    background: #1a1a1d;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 600px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }

    .info {
        padding: 10px;
    }
}
